.pagination {
    margin: 0;
}

.pagination ul li a {
    border: medium none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.pagination ul li.hidden {
	display: none;
}

.pagination i {
    height: 20px;
    margin: 0;
}

.pagination .selected a {
	color: #000;
    font-weight: bold;
}

.pagination .previous a, .pagination .next a {
	padding-top: 13px;
}

.icon-flipped-x_minimize {
    transform: scaleX(-0.5);
    -moz-transform: scaleX(-0.5);
    -webkit-transform: scaleX(-0.5);
    -ms-transform: scaleX(-0.5);
}

.icon-x_minimize{
    transform: scaleX(0.5);
    -moz-transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
}


